<div class="row movie" *ngIf="movie" style="margin-top: 70px;">
  <div  class="col-md-4 col-xs-12 poster_path">
    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" class="thumbnail" style="height: 555px;">
    <p>
      <a *ngIf="movie.homepage" href="{{movie.homepage}}" class="btn btn-info btn-block" target="_blank">Visit Movies Website</a>
    </p>
  </div>
  <div class="col-md-8 col-xs-12">
    <div class="col-md-6">
    <h3 style="color: #fff;">{{movie.title}} <small class="label label-warning">
        {{movie.vote_average}}
        <i class="glyphicon glyphicon-star"></i>
      </small></h3>
     
    </div>
    <div class="col-md-6" style="margin-top: 25px;">
      <a routerLink="/genres/{{genre.id}}/{{genre.name}}" *ngFor="let genre of movie.genres" class="label label-info m-r-md" style="font-size: 12px;">
        {{genre.name}}
      </a>
     </div> 
    <div class="col-md-12 col-xs-12" style="margin-top: 20px;">
    <p style="color: #fff; font-size: 15px" class="label label-danger">{{movie.tagline}}</p>
    </div>
    <div class="col-md-12 col-xs-12">
    <h3 style="color: #fff">Overview</h3>
    <p style="color: #fff">
      {{movie.overview}}
    </p>
  </div>
    <!--Casts-->
    <div class="row is-flex" *ngIf="cast && cast.length > 0">
      <div class="col-md-12 col-xs-12">
        <h3 class="text-center" style="color: #fff">Cast</h3>
      </div>
      <div class="col-md-3 col-xs-12" *ngFor="let actor of cast">
        <div class="thumbnail" style="height: 277px!important;">
          <img src="https://image.tmdb.org/t/p/w500/{{actor.profile_path}}" alt="" style="height:205px!important;" >
          <div class="caption">
            <h6 class="text-center"><a routerLink="/actor/{{actor.id}}" style="color: #fff;font-size: 19px;">{{actor.name}}</a></h6>
          </div>
        </div >
      </div>
    </div>
    <!--Casts-->
  </div>
</div>
<!--Trailer-->
<div class="row" *ngIf="video">
  <div class="col-md-8 col-md-offset-2">
    <h2  style="color: #fff;">{{video.name}}</h2>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" [src]="video.url"></iframe>
    </div>
  </div>
</div>
<!--Trailer-->
<!--Similar Movies-->
<div class="row is-flex" style="overflow: hidden;" *ngIf="similarMovies && similarMovies.length > 0" >
  <div class="col-md-12" style="margin-top: 50px;margin-bottom: 50px;">
    <h2 style="color: #fff;text-align: center;outline: #2F4F4F solid 10px;">Similar Movies</h2>
  </div>
  <div class="col-md-3" *ngFor="let movie of similarMovies">
    <movie-card [movie]="movie"></movie-card>
  </div>
</div>
<!--Similar Movies-->
<div class="row" *ngIf="reviews && reviews.length > 0">
  <div class="col-md-12" style="margin-top: 50px;margin-bottom: 50px;">
    <h2 style="color: #fff;text-align: center;outline: #2F4F4F solid 10px;">Reviews</h2>
  </div>
  <div class="col-md-6 col-xs-12" *ngFor="let review of reviews">
    <blockquote>
      <p class="text-justify" style="color: #fff">{{review.content}}</p>
      <footer><cite title="{{review.author}}"><a href="{{review.url}}" target="_blank">{{review.author}}</a></cite></footer>
    </blockquote>
  </div>
</div>